{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Currencies list</h1>
            <a href="{{ path('currency_new') }}" class="btn btn-primary btn-create" role="button">Create a new currency</a>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for currency in currencies %}
                    <tr>
                        <td>{{ currency.id }}</td>
                        <td>{{ currency.name }}</td>
                        <td>{{ currency.code }}</td>
                        <td class="actions">
                            <a href="{{ path('currency_show', { 'id': currency.id }) }}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            <a href="{{ path('currency_edit', { 'id': currency.id }) }}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
