{% extends 'base.html.twig' %}

{% block body %}
    <h1>Incomes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Company</th>
                <th>Amount</th>
                <th>Extrafee</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for income in incomes %}
            <tr>
                <td><a href="{{ path('income_show', { 'id': income.id }) }}">{{ income.id }}</a></td>
                <td>{{ income.company }}</td>
                <td>{{ income.amount }}</td>
                <td>{{ income.extraFee }}</td>
                <td>{% if income.date %}{{ income.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('income_show', { 'id': income.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('income_edit', { 'id': income.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('income_new') }}">Create a new income</a>
        </li>
    </ul>
{% endblock %}
